{% extends "base.html" %} {% block title %}Super Admin Dashboard{% endblock %} {% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>Admin Dashboard</h1>
                    <h3>Manage your Companies</h3>
                    <br>
                    <br>
                    <a href="{{ url_for('admin.list_companies') }}" id="db">Company Database</a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}